html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src="/socket.io/socket.io.js")
    script(src="/js/client.js")
    link(rel="stylesheet", href="/css/bulma.min.css")
  body
    block content
      p this is the default block content